<p style="font-size:12px;color:#666;margin-top:24px;">
  <a href="<%= @notification_unsubscribe_url %>"><%= t("mcweb.mail.unsubscribe_type") %></a>
  ·
  <a href="<%= @preferences_url %>"><%= t("mcweb.mail.manage_preferences") %></a>
</p>
