.git
.gitignore
.bundle
.npmrc
.env
.env.*
config/master.key
config/credentials/*.key
config/local*.yml
*.pem
*.key
log/*
**/node_modules
docs/dist
docs/.astro
public/docs
internal-development-notes
storage/*
tmp/*
vendor/bundle
deploy/docker/.env
coverage
