<p><%= t("mcweb.mail.greeting_formal", username: @user.display_name) %></p>

<p><%= t("mcweb.mail.identity.verification.intro") %></p>

<p><%= link_to @verification_url, @verification_url %></p>

<p><%= t("mcweb.mail.identity.verification.ignore") %></p>
