[Unit]
Description=McWeb Web Server
After=network.target postgresql.service

[Service]
Type=simple
User=mcweb
WorkingDirectory=/opt/mcweb/current
EnvironmentFile=/etc/mcweb/mcweb.env
ExecStart=/home/mcweb/.rbenv/shims/bundle exec puma -C config/puma.rb
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
