<h2>支付成功</h2>
<p>您好 <%= @order.user.username %>，</p>
<p>订单 <strong><%= @order.order_number %></strong> 已支付成功。</p>
<%= render partial: "commerce/order_mailer/order_details", locals: { order: @order } %>
