<h2><%= t("mcweb.mail.commerce.payment_confirmed.heading") %></h2>
<p><%= t("mcweb.mail.greeting_formal", username: @order.user.username) %></p>
<p><%= t("mcweb.mail.commerce.payment_confirmed.body", number: @order.order_number) %></p>
<%= render partial: "commerce/order_mailer/order_details", locals: { order: @order } %>
