<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.commerce.product_changelog.body", product: @product.name) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.commerce.view_product") %></a></p>
