<p><%= t("mcweb.mail.greeting_short") %></p>
<p><%= t("mcweb.mail.commerce.refund_processed.body", number: @order.order_number) %></p>
<p><%= t("mcweb.mail.commerce.refund_processed.amount", amount: number_to_currency(@refund.amount_cents / 100.0, unit: @order.currency == "CNY" ? "¥" : "$")) %></p>
<p><%= t("mcweb.mail.commerce.contact_support") %></p>
