<% content_for :title, @article.title %>

<%= render Ui::PageHeaderComponent.new(
  title: @article.title,
  subtitle: @article.published_at ? l(@article.published_at, format: :long) : nil
) %>

<div class="prose max-w-none">
  <%= @article.body %>
</div>

<%= link_to "Back to blog", website_articles_path, class: "mc-btn mt-4 no-underline" %>
